#contenido {
    box-sizing: border-box;
    display: block;
}

#busqueda {
    display: block;
    width: 30%;
    height: 100%;
    border-right: 1px solid;
    float: left;
}

#busqueda form * {
    margin: 50px;
    display: block;
}

#listaLibros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#listaLibros form {
    padding: 10px;
    border: 1px solid;
    width: 500px;
    min-height: 500px;
    margin: 10px;
}

#listaEjemplares {
    display: block;
}

.error {
    font-size: small;
    color: red;
    font-style: italic;
}
.reservado,.devolver{
    font-size: large;
    font-weight: bold;
    color: darkblue;
    background-color: #DDD;
}

footer {
    text-align: center;
}